.swiper-wrapper {
  width: 15rem !important;
  height: 18rem !important;
  border-radius: 0.5rem !important;
  z-index: 10 !important;
}

@media (min-width: 768px) {
  .swiper-wrapper {
    width: 23rem !important;
    height: 27rem !important;
  }
}
