@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 2px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 2px;
    background: #2c3234;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #f05a22;
    border-radius: 100vh;
  }

  @media (min-width: 768px) {
    .scrollbar::-webkit-scrollbar {
      width: 4px;
    }
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer components {
  .orange-line {
    @apply absolute top-0 h-[0.4rem]  left-1/2 -translate-x-1/2 bg-main_orange rounded-b-full shadow-orange-shadow w-[35%];
  }
}

@font-face {
  font-family: 'Helvetica Neue LT Std 55 Roman';
  src: url(assets/fonts/Linotype-HelveticaNeueLTGEO55Roman.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url(assets/fonts/Helvetica.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Bold';
  src: url(assets/fonts/Helvetica-Bold.ttf);
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, sans-serif;
}
